*{
    padding: 0;
    margin: 0;
}

#game {
    width: 300px;
    height: 500px;
    border: 1px solid black;
    margin: auto;
    box-sizing: border-box;
    overflow: hidden; 
}

#character {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    top:300px;
    left: 100px;
}

#blocks {
    width: 300px;
    top: 500px;
    display: flex;
    position: relative;
    animation: slide 1.2s infinite linear;

}

#block1, #block2{
    background-color: black;
    width: 100px;
    height: 100px;
    position: relative;
}

#left, #right {
    width: 50%;
    position: absolute;
    height: 500px;

}

#right { 
    left: 50%;
}

@keyframes slide{
    0%{top:-100px};
    100%{top:500px};
}

.title {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

p{
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}


.counter {
    text-align: center;
	display: block;
	padding-bottom: 0.5rem;
}

#coin{
    width: 100px;
    height: 100px;
    top: 500px;
    position: relative;
    animation: coinSlide 1.2s infinite linear;
    animation-delay: 600ms;
    border-radius: 50%;
    background-color: gold;
}
@keyframes coinSlide{
    0%{top:-300px};
    100%{top:400px};
}
