*{
    padding: 0;
    margin: 0;
}

#game {
    width: 300px;
    height: 500px;
    border: 1px solid black;
    margin: auto;
    box-sizing: border-box;
    overflow: hidden; 
}

#character {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    top:300px;
    left: 100px;
}

#block {
    width: 100px;
    height: 100px;
    top: 500px;
    background-color: black;
    position: relative;
    animation: slide 3s infinite linear;

}

#left, #right {
    width: 50%;
    position: absolute;
    height: 500px;

}

#right { 
    left: 50%;
}

@keyframes slide{
    0%{top:-100px};
    100%{top:500px};
}

.title {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

p{
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}


.counter {
    text-align: center;
	display: block;
	padding-bottom: 0.5rem;
}


